.text{
    margin-top: 3px;
    width: 30px;
    height: 10px;
}
.style12{
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.plus{
   margin-top: 0px;
    
}
.text1{
    margin-top: 3px;
    width: 30px;
    height: 20px;
}
.display{
    height: 10px;
    width: 30px;
    border: black;
   outline:2px;
}